<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="WSEntities" connectionString="metadata=res://*/ORM.WSModel.csdl|res://*/ORM.WSModel.ssdl|res://*/ORM.WSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Insight_WS;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Services;Services\MasterData;Services\Business"/>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="Port" value="7210"/>
    <add key="IsCompres" value="false"/>
    <add key="MaxAuthorized" value="10"/>
  </appSettings>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>
