<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <connectionStrings>
    <add name="WSEntities" connectionString="metadata=res://*/ORM.WSModel.csdl|res://*/ORM.WSModel.ssdl|res://*/ORM.WSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Insight;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="Address" value="localhost" />
    <add key="HttpPort" value="6280" />
    <add key="TcpPort" value="6210" />
    <add key="IsCompres" value="false" />
    <add key="MaxAuthorized" value="100000000" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

</configuration>
