<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="Common;Service;Platform;Components\EntityFramework;Components\FastReport"/>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <add name="SERPContext" connectionString="metadata=res://*/SERP.csdl|res://*/SERP.ssdl|res://*/SERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SERP;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service name="SERP.Service.Platform.UserManage">
        <endpoint address="UserManage" binding="netTcpBinding" bindingConfiguration=""
          name="UserManage" contract="SERP.Service.Platform.IUserManage" />
        <endpoint address="UserManage/mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4502" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <netTcpBinding>
        <binding name="">
          <readerQuotas maxStringContentLength="16777216" maxArrayLength="16777216" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>