<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SERPContext" connectionString="metadata=res://*/SERP.csdl|res://*/SERP.ssdl|res://*/SERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SERP;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="SERP.Service.Platform.MainForm">
        <endpoint address="MainForm" binding="netTcpBinding" bindingConfiguration="" contract="SERP.Service.Platform.IMainForm" />
        <endpoint address="MainForm/mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4502" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="">
          <readerQuotas maxStringContentLength="16777216" maxArrayLength="16777216" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
