<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Insight.WS.Server.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Insight.WS.Server.Common.Properties.Settings>
            <setting name="Common_Service_Service1" serializeAs="String">
                <value>http://cf.lmobile.cn/submitdata/service.asmx</value>
            </setting>
        </Insight.WS.Server.Common.Properties.Settings>
    </applicationSettings>
</configuration>