<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CustomBinding_IManager" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7210/XfbManager" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IManager" contract="Service.IManager"
                name="CustomBinding_IManager" />
        </client>
    </system.serviceModel>
</configuration>