<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="Business;Components;MasterData"/>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="DefaultLookAndFeel" value="DevExpress Style"/>
    <add key="Address" value="localhost"/>
    <add key="Port" value="7210"/>
    <add key="IsCompres" value="false"/>
    <add key="DocPrint"/>
    <add key="TagPrint"/>
    <add key="BilPrint"/>
    <add key="IsMergerPrint" value="false"/>
    <add key="IsSaveUserInfo" value="true"/>
    <add key="UserName" value="Demo"/>
  </appSettings>

</configuration>
